.body1{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
  }
  
  .con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    width: 900px;
    max-width: 100%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: transform 0.6s ease-in-out;
  }
  
  .form-container {
    width: 50%;
    padding: 50px;
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
    background: #0033cc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease-in-out;
  }
  
  .right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .right-panel-active .form-container:first-child {
    display: none;
  }
  
  .right-panel-active .form-container:last-child {
    display: block;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  .btn-primary {
    background-color: #0033cc;
    border-color: #0033cc;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
  }
  
  .btn-light {
    background-color: #fff;
    color: #0033cc;
    border: 1px solid #0033cc;
    font-weight: bold;
    border-radius: 25px;
  }
  
  .btn-primary:hover, .btn-light:hover {
    background-color: #002699;
    color: #fff;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay-panel h1 {
    color: #fff;
    font-weight: bold;
  }
  
  .overlay-panel p {
    color: #fff;
    font-size: 1rem;
    margin: 10px 0;
  }
  